.photo-upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.upload-button {
    padding: 12px 24px; /* Bigger padding */
    font-size: 18px;
    background-color: #28a745;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    border: none;
    transition: all 0.3s ease;
}

.upload-button:hover {
    background-color: #218838;
}
