.recipe-card {
    max-width: 345px;
    margin: 20px;
  }
  
  .recipe-card:hover {
    transform: scale(1.05);
  }
  
  /* Header styling */
  .recipe-card-header {
    text-align: center;
    background-color: white;
    color: white !important;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 16px;
  }

  .recipe-card-header .MuiCardHeader-subheader {
    color: black;
    size: 250px;
  }
  

  
  /* Image styling */
  .recipe-card-media {
    object-fit: cover;
    border-radius: 8px;
  }

  
  /* Content styling */
  .recipe-card-content {
    padding: 4px;
    margin-bottom: 1rem;
  }
  
  /* Typography for chef */
  .recipe-card-creator {
    color: rgba(37, 37, 37, 0.731) !important;
    background-color: white;
    font-size: small;
    margin-top: 0;
  }
  
  /* Date typography */
  .recipe-card-date {
    color: black;
    background-color: white;
    margin-bottom: 16px;
  }
  
  /* Recipe text styling */
  .recipe-card-text {
    color: #212121;
    line-height: 1.6;
  }
  