.recipe-card {
  width: 100%;
  max-width: 350px;
  margin: 10px auto;
  border-radius: 12px !important;
  box-shadow: none;
  border: 2px solid #ddd;
  transition: transform 0.2s ease;
}

.recipe-card:hover {
  transform: scale(1.02);
}

.recipe-card-media {
  object-fit: cover;
  height: 200px;
}

.recipe-card-content {
  padding: 16px;
  background-color: #EEEEEE;
}

.recipe-card-title {
  text-align: left;
  font-weight: bold;
}

.recipe-author {
  color: #555;
}

.author-name {
  font-weight: bold;
  color: #666;
}

.recipe-stats {
  margin-top: 12px;
  display: flex;
  gap: 8px;
}

.recipe-chip {
  background-color: white !important;
  border: black;
  font-weight: bold;
}
