.home-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
  min-height: 100%; /* Changed from height: 100% */
}

.recipes-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
  justify-items: center;
}

/* Responsive behavior */
@media (max-width: 900px) {
  .recipes-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
