.home-container {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    max-width: 1200px; /* Prevents excessive stretching */
  }
  
  .recipes-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Always two columns */
    gap: 10px; /* Adjusts spacing between elements */
    padding: 10px;
    justify-items: center;
  }
  
  /* Responsive behavior */
  @media (max-width: 900px) {
    .recipes-list {
      grid-template-columns: repeat(1, 1fr); /* Falls back to 1 column on smaller screens */
    }
  }
  