.camera-card {
    position: relative;
    width: auto;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 10em;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
}