.bottom-nav {
    width: 100%;
    font-family: var(--primary-font) !important;
    position: absolute; /* Change from fixed to absolute */
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    height: 56px; /* Explicitly set height */
  }
  

.bottom-nav a {
    font-family: var(--primary-font); /* Ensure links also use the font */
}

/* Apply font to individual BottomNavigationAction labels */
.bottom-nav .MuiBottomNavigationAction-label {
    font-family: var(--primary-font) !important;
}
