.bottom-nav {
    width: 100%;
    font-family: var(--primary-font) !important;
    position: relative; /* Not fixed */
    bottom: 0;
  }
  

.bottom-nav a {
    font-family: var(--primary-font); /* Ensure links also use the font */
}

/* Apply font to individual BottomNavigationAction labels */
.bottom-nav .MuiBottomNavigationAction-label {
    font-family: var(--primary-font) !important;
}
