/* Import Font */
@font-face {
  font-family: 'PatrickHand';
  src: url('./assets/fonts/PatrickHand-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Global Theme Variables */
:root {
  --primary-font: 'PatrickHand', sans-serif;
  --primary-color: #333; /* Example color */
  --secondary-color: #888; /* Example color */
}

/* Global Styles */
* {
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: var(--primary-font);
  color: var(--primary-color);
}

code {
  font-family: var(--primary-font);
}
